@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype')
}

@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body  {
  margin: auto;
}

h2{
  font-size: 3rem;
}
::-webkit-scrollbar {
  width: 0;
}

.titlePost {
  font-family: 'Mukta Mahee', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.montserrat_regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


